*{
	box-sizing: border-box;

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    height: 100vh; /* Full height */
    background-color: #575757;
    color: white;
    position: fixed; /* Stay fixed on the left */
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar a{
	display: block;
	text-decoration: none;
	color: white;    
}

.sidebar .sidebar1 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar .sidebar1 a:hover {
    background-color: #d1740a;
    
}

.logout {
           margin-top: 700px;
}
.content {
    margin-left: 250px; /* Same as the sidebar width */
    padding: 20px;
    justify-content: space-between;
}


#user_add_button{
   
   background-color: white;
   margin-bottom: -50px;
   border-radius: 5px;
   width: 100px;
   height: 30px;
   font-weight: bold;
   border: 1px solid black;
}  


#user_add_button:hover{
   background-color:black;
   color:white;
   cursor: pointer;
}


hr{
	width: 100%;
}


.content div {
	display: flex;
	justify-content: space-between;
    align-items: center;
}  	  	

	
.right-side{
  	display: flex;
  	justify-content: space-between;
}
    
.table_contain{
  	padding: 20px;
  	margin-left: 250px;
}

table {    	
   	border: solid white;
   	width: 100%;
   	border-collapse:collapse;
}
th {
 	text-align: center;
    padding: 5px;
    color:white;
 	background-color: #575757;         	
}

td {
	border-bottom: solid lightgrey;
	text-align: center;
	padding: 5px;    
}
          
.right-side{
	display: flex;
	justify-content: space-between;
}
	
	
			
.search{	
	display: flex;
} 
	
.searchbox{
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	text-align: left;
	border-radius: 5px;
	border: 1px solid black;
	width: 180px;
	height: 30px;		
}
		
		
.searchbox:hover{
	border: 3px solid rgb(177, 208, 250);
	cursor: pointer;
}

		
.search-button{
	border-radius: 5px;
	border: 1px solid black;
	width: 50px;
	cursor: pointer;	
	height: 30px;
	background-color: white;
	background-image: url('../images/4.png');
	background-repeat: no-repeat;    
	background-position: center;
}

.search-button:hover{
	border: 3px solid rgb(177, 208, 250);	
}


 .pagination {
    margin-top: 50px;
    padding: 20px;
  	margin-left: 250px;
  	text-align: center;
}

 .pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #000;
}

.pagination a.active {
    background-color: #575757; 
    color: white;
}
.logout {
    margin-top: 700px;
}
 
.loginCheck {
   	padding-left:20px;
}






.container {
    display: flex;
    flex-grow: 1;
    margin-left: 200px;
    padding: 20px;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.buttonbox-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}

.buttonbox {
    width: 500px;
    height: 600px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #d1740a;
    transition: all 0.3s ease-in-out;
}

.buttonbox:hover {
    width: 80%;
    background-color: #d1740a;
}

.buttonbox:hover .nametec {
    background-color: #d1740a;
    border-style: none;
    transition: all 0.3s ease-in-out;
}

#user {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), white 100%), url("../images/people.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

#item {
    background: linear-gradient(to bottom, rgba(219, 122, 10, 0.3), white 100%), url("../images/oip2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#material {
    background: linear-gradient(to bottom, rgba(199, 17, 17, 0.3), white 100%), url("../images/food.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.copyright {
    text-align: right;
    font-size: small;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.nametec {
    width: 100%;
    height: 50px;
    background-color: #575757;
    color: white;
    font-size: 30px;
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-align: center;
    border-style: none;
}

.nametec:hover {
    background-color: #d1740a;
}

.textbox {
    font-size: 30px;
    font-family: "Nanum Pen Script", serif;
    text-align: center;
    line-height: 1.6;
    color: #333;
    margin-top: 0px;
}

h2 {
    font-family: "Orbit", serif;
}

 
