*{
	box-sizing: border-box;

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    height: 100vh; /* Full height */
   
    background-color: #575757;
    color: white;
    position: fixed; /* Stay fixed on the left */
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar a{
	display: block;
	text-decoration: none;
	color: white;    
}

.sidebar .sidebar1 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar .sidebar1 a:hover {
    background-color: #d1740a;
    
}

.content {
    margin-left: 250px; /* Same as the sidebar width */
    padding: 20px;
}

hr{
	width: 100%;
}


.content div {
	display: flex;
	justify-content: space-between;
    align-items: center;
}  	  	
	
.button{
	height: 20px;
	margin-bottom: -50px;
}  
	
.right-side{
  	display: flex;
  	justify-content: space-between;
}
    
.table_contain{
  	padding: 20px;
  	margin-left: 250px;
}

table {    	
   	border: solid white;
   	width: 100%;
   	border-collapse:collapse;
}
th {
 	text-align: left;
    padding: 5px;
    color:white;
 	background-color: #575757;         	
}

td {
	border-bottom: solid lightgrey;
	text-align: left;
	padding: 5px;    
}
          
.right-side{
	display: flex;
	justify-content: space-between;
}
				
.search{	
		display: flex;
} 
	
.searchbox{
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	text-align: left;
	border-radius: 5px;
	width: 180px;
	height: 30px;
	cursor: pointer;	 		
}
		
		
.searchbox:hover{
	border: 5px solid #a4d0f3;
}
		
.search-button{
	border-radius: 5px;
	width: 50px;
	cursor: pointer;	
	height: 30px;
	background-color: white;
	background-image: url('../images/4.png');
	background-repeat: no-repeat;    
	background-position: center;
}



